* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    padding: 5px;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.43rem;
}

header {
    background-color: darkslategrey;
    text-align: center;
    color: white;
    padding: 15px;
}

main {
    /* align-content:stretch; */
    background-color:rgb(191, 197, 204);
    margin: 0;
    padding:40px;
}

section {
    background-color: whitesmoke;
}

button {
    padding: 0px 3px;
    text-align: center;
}

.future-block {
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 3%;
}

.low-uv {
    background-color: lightgreen;
    padding: 2px;
}

.mid-uv {
    background-color: yellow;
    padding: 2px;
}

.high-uv {
    background-color:palevioletred; 
    padding: 2px;
}